<template>
  <q-page padding>
    <div v-if="cleanedFiles">
      <section class="row full-height full-width text-center">
        <div
          v-if="cleanedFiles.successful.length > 0"
          class="mat-shadowed-box col-xs-10 offset-xs-1
          col-sm-6 offset-sm-3 col-md-8 offset-md-2
          col-lg-6 offset-lg-3"
        >
          <h1 data-cy="removed-metadata-title">
            {{ $t('metadata_removed') }}
          </h1>
          <p data-cy="removed-metadata-paragraph">
            {{ $t('metadata_managed_to_remove') }}
          </p>
          <q-btn
            v-if="cleanedFiles.successful.length > 3"
            color="accent"
            :label="$t('bulk_download')"
            type="a"
            :href="bulkZipLink"
            icon="done_all"
            :loading="zipCreating"
            data-cy="zip-download-button"
            aria-label="bulk download button"
          />
          <div
            v-if="cleanedFiles.successful.length < 4"
            class="row standard-padding justify-center"
          >
            <div
              v-for="file of cleanedFiles.successful"
              :key="file.id"
              :class="'file-download-col col ' + getCardClasses()"
            >
              <q-card
                data-cy="download-card"
                class="download-card"
                :class="isDeactivated(file.response.data.key)"
              >
                <a
                  target="_blank"
                  :href="file.response.data.download_link"
                  :download="file.response.data.output_filename"
                  data-cy="card-download-link"
                  rel="noreferrer"
                  @click="deactivate(file.response.data.key)"
                >
                  <q-badge
                    data-cy="success-badge"
                    class="badge-style justify-center"
                    color="green"
                    floating
                  >
                    <q-icon name="done" />
                  </q-badge>
                  <div
                    class="uppy-DashboardItem-previewInnerWrap download-card-img"
                    :style="'background-color: ' + getIcon(file.response.data.mime).color"
                  >
                    <div class="uppy-DashboardItem-previewIconWrap">
                      <span
                        class="uppy-DashboardItem-previewIcon"
                        style="color: rgb(226, 81, 73);"
                        data-cy="download-svg-icon"
                        v-html="getIcon(file.response.data.mime).icon"
                      />
                      <svg
                        class="icon-preview-bg uppy-DashboardItem-previewIconBg"
                        aria-hidden="true"
                        focusable="false"
                        width="58"
                        height="76"
                        viewBox="0 0 58 76"
                      ><rect
                        fill="#FFF"
                        width="58"
                        height="76"
                        rx="3"
                        fill-rule="evenodd"
                      /></svg>
                    </div>
                  </div>
                </a>
                <q-card-actions>
                  <q-btn
                    target="_blank"
                    icon="save"
                    type="a"
                    :href="file.response.data.download_link"
                    class="ellipsis download-btn w80"
                    data-cy="download-link"
                    :aria-label="'download ' + file.response.data.output_filename + 'button'"
                  >
                    {{ file.response.data.output_filename | truncate }}
                  </q-btn>
                  <q-btn
                    color="primary"
                    class="metadata-btn"
                    icon="more_vert"
                    data-cy="metadata-menu-button"
                  >
                    <metadata-visualizer
                      :deleted-metadata="file.response.data.meta"
                      :remaining-metadata="file.response.data.meta_after"
                    />
                  </q-btn>
                </q-card-actions>
              </q-card>
            </div>
          </div>
        </div>
        <div
          v-if="cleanedFiles.failed.length > 0"
          class="error-box col-xs-10 offset-xs-1
          col-sm-6 offset-sm-3 col-md-8 offset-md-2
          col-lg-6 offset-lg-3"
        >
          <div class="row standard-padding mat-shadowed-box">
            <div class="col col-12">
              <h5 class="text-red">
                <q-icon name="error_outline" /> {{ $t('removal_failed') }}
              </h5>
              <p>
                {{ $t('could_not_clean_files') }}
              </p>
              <p v-if="cleanedFiles.successful.length < 1">
                <q-btn
                  data-cy="failed-back-button"
                  to="/"
                  color="primary"
                  :label="$t('back')"
                  aria-label="back to home button"
                />
              </p>
              <ul
                class="failed-list"
                data-cy="failed-items-list"
              >
                <li
                  v-for="file of cleanedFiles.failed"
                  :key="file.id"
                  data-cy="failed-file-name"
                >
                  {{ file.data.name | truncate(25) }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </q-page>
</template>

<script>
import getIconByMime from '../uppy/getFileTypeIcon'
import MetadataVisualizer from '../components/metadata-visualizer'

export default {
  name: 'DownloadPage',
  components: {
    MetadataVisualizer
  },
  filters: {
    truncate: function (fullStr, strLen = 35) {
      if (fullStr.length <= strLen) return fullStr

      const separator = '...'

      const sepLen = separator.length, charsToShow = strLen - sepLen,
        frontChars = Math.ceil(charsToShow / 2),
        backChars = Math.floor(charsToShow / 2)

      return fullStr.substr(0, frontChars) +
          separator +
          fullStr.substr(fullStr.length - backChars)
    }
  },
  props: {
    cleanedFiles: {
      type: Object,
      default: function () {
        return null
      }
    }
  },
  data: function () {
    return {
      apiUrl: process.env.API_URL ? process.env.API_URL : 'http://localhost:5000/',
      bulkZipLink: '',
      zipCreating: false,
      deactivatedMap: {},
      activeMetadataModal: ''
    }
  },
  mounted () {
    if (!this.cleanedFiles) {
      this.$router.push('/')
    } else if (this.cleanedFiles?.successful?.length > 1) {
      this.triggerBulkDownload()
    }
  },
  methods: {
    isEnabledModal (fileId) {
      return fileId === this.activeMetadataModal
    },
    deactivate (key) {
      this.$set(this.deactivatedMap, key, true)
    },
    isDeactivated (key) {
      if (this.deactivatedMap[key]) {
        return 'inactive'
      }
      // active
      return ''
    },
    getCardClasses (nrOfCols) {
      switch (nrOfCols) {
        case 1:
          return 'col-12 col-md-4'
        case 2:
          return 'col-12 col-md-6'
        case 3:
          return 'col-12 col-md-4'
        default:
          return 'col-12 col-md-4'
      }
    },
    getIcon: function (mime) {
      return getIconByMime(mime)
    },
    triggerBulkDownload () {
      // needs at least 3 files to be downloadable as zip
      if (this.cleanedFiles?.successful?.length > 3) {
        this.bulkZipLink = ''
        const body = {
          download_list: []
        }
        for (let ctr = 0; ctr < this.cleanedFiles?.successful?.length; ctr++) {
          const data = this.cleanedFiles.successful[ctr].response.data
          body.download_list.push({
            file_name: data.output_filename,
            key: data.key
          })
        }
        this.zipCreating = true
        this.$axios.post(this.apiUrl + 'api/download/bulk', body)
          .then((response) => {
            this.bulkZipLink = response.data.download_link
          })
          .catch(() => {
            this.$q.notify({
              color: 'negative',
              position: 'top',
              message: this.$t('error_bulk_download_creation'),
              icon: 'report_problem'
            })
            this.$router.push('/error')
          }).finally(() => {
            this.zipCreating = false
          })
      }
    }
  }
}
</script>

<style scoped lang="stylus">
  .caption-filename
    font-size 0.5rem
    word-wrap break-word
  .file-download-col
    padding 0.3 rem
  .file-icon
    height 100%
    width 100%
  .file-icon > svg
    height 100%
    width 100%
  .icon-preview-bg
    padding 0.5rem
  .download-card-img
    min-height 10rem
    max-height 10rem
    box-shadow none
    border-bottom-right-radius 0px
    border-bottom-left-radius 0px
  .q-card__actions
    padding unset
  .q-card__actions .q-btn--rectangle
    border-top-left-radius 0px
    border-top-right-radius 0px
  .q-card > div:not(:last-child), .q-card > img:not(:last-child)
    border-bottom-left-radius unset
    border-bottom-right-radius unset
    border-radius 45%
  .q-card > div:not(:first-child), .q-card > img:not(:first-child)
    border-top-left-radius inherit
    border-top-right-radius inherit
    border-bottom-left-radius 0px
    border-bottom-right-radius 0px
  .badge-style
    height 1.3rem
    width 1.3 rem
    z-index 10
  .download-btn
    font-size 0.5rem
    font-weight bold
    padding-bottom 0.4rem
    padding-top: 0.4rem
    width 90%
    border-bottom-right-radius 0px
    border-top-right-radius 0px
  .error-box
    margin-top 2rem
  .failed-list
    list-style none
  .download-card
    cursor pointer
  .inactive
    opacity 0.5
    cursor not-allowed
  .metadata-btn
    margin-left 0px !important
    width 10%
    font-size 0.5rem
    font-weight bold
    padding-bottom 0.4rem
    padding-top: 0.4rem
    border-bottom-left-radius 0px
    border-top-left-radius 0px
</style>
