<template>
  <q-page padding>
    <div class="row text-center main-upload-cont">
      <section
        v-show="supportedExtensions.length > 0"
        class="q-pa-sm q-pa-md col-xs-12
          col-sm-6 offset-sm-3 col-md-8 offset-md-2
          col-lg-6 offset-lg-3 p-1 mat-shadowed-box"
      >
        <h1>{{ $t('remove_metadata') }}</h1>
        <p class="xs-hide">
          {{ $t('the_file_you_see') }}
        </p>
        <div id="drag-drop-area" />
        <span class="info-link">
          <q-btn
            color="secondary"
            size="xs"
            round
            :to="{ name: 'info' }"
            aria-label="help button"
          >
            ?
          </q-btn>
        </span>
      </section>
      <section
        v-if="supportedExtensions.length == 0"
        class="q-pa-sm q-pa-md col-xs-10 offset-xs-1
          col-sm-6 offset-sm-3 col-md-8 offset-md-2
          col-lg-6 offset-lg-3 p-1 mat-shadowed-box"
      >
        <q-circular-progress
          indeterminate
          size="50px"
          :thickness="0.22"
          color="primary"
          track-color="grey-3"
          class="q-ma-md"
        />
      </section>
    </div>
  </q-page>
</template>

<style lang="stylus">
  #drag-drop-area
    max-width: 95vw
  .uppy-Dashboard-AddFilesPanel
    height 45vh
  .uppy-Dashboard-inner
    min-height: 0 !important
    background-color: white
    border: unset
    border-radius: 5px
    width: auto !important
  .uppy-DashboardAddFiles
    border: unset
    background-color: white
    margin: 0;
  .uppy-DashboardContent-bar
    background-color: white
  .uppy-StatusBar-actions
    background-color white
  .mat-shadowed-box
    margin-bottom: 0
  .info-link
    color: $light-font-color
    position absolute
    right: 15px
    bottom: 15px
  .info-link a
    font-weight: bold;
  .mat-shadowed-box
    position relative
  .uppy-StatusBar-actions
    padding unset
  .uppy-size--md .uppy-DashboardAddFiles
    border: unset
  .uppy-DashboardTabs
    height 100%
    margin-top 1.5rem
</style>

<script>
const Uppy = require('uppy')
import JSONUploader from '../uppy/JSONUploader'
import LanguageHelper from '../i18n/LanguageHelper'

export default {
  name: 'PageIndex',
  data: function () {
    return {
      supportedExtensions: [],
      apiUrl: process.env.API_URL ? process.env.API_URL : 'http://localhost:5000/',
      previewMap: {},
      uppy: null,
      langHelper: new LanguageHelper()
    }
  },
  mounted () {
    this.$root.$on('locale_changed', this.updateLocale)
    this.loadSupportedFileExtensions().then((response) => {
      this.supportedExtensions = response.data
      this.startUppy()
    })
      .catch((e) => {
        this.$q.notify({
          color: 'negative',
          position: 'top',
          message: this.$t('loading_failed'),
          icon: 'report_problem'
        })
        this.$router.push('/error')
      })
  },
  methods: {
    loadSupportedFileExtensions: function () {
      return this.$axios.get(this.apiUrl + 'api/extension')
    },
    startUppy: function () {
      const uppy = Uppy.Core({
        autoProceed: false,
        restrictions: {
          maxFileSize: 16777216, // 16MB
          maxNumberOfFiles: 10, // the max standard for api/download/bulk endpoint
          allowedFileTypes: this.supportedExtensions
        },
        locale: {
          strings: {
            dropPasteImport: this.$t('simply_drag')
          }
        }
      }).use(Uppy.Dashboard, {
        inline: true,
        target: '#drag-drop-area',
        height: '100%',
        showProgressDetails: true,
        proudlyDisplayPoweredByUppy: false,
        showLinkToFileUploadResult: false
      }).use(Uppy.Webcam, {
        target: Uppy.Dashboard
      }).use(JSONUploader, {
        endpoint: this.apiUrl += 'api/upload'
      })
      uppy.on('complete', (result) => {
        this.$router.push({
          name: 'download',
          params: {
            cleanedFiles: result,
            supportedExtensions: this.supportedExtensions,
            previews: this.previewMap
          }
        })
      })
      uppy.on('upload-success', (file, response) => {
        this.previewMap[response.data.key] = file.preview
      })
      this.uppy = uppy
    },
    updateLocale (lang) {
      if (this.uppy) {
        this.uppy.setOptions({
          locale: this.getCustomLocaleStrings(lang)
        })
      }
    },
    getCustomLocaleStrings (lang) {
      const baseLang = this.langHelper.getUppyTranslations(lang)
      baseLang.strings.dropPasteImport = this.$root.$t('simply_drag', lang)
      return baseLang
    }
  }
}
</script>
