<template>
  <q-btn-dropdown
    color="primary"
    :label="language | truncate"
    flat
    remove-shadow
    data-cy="locale-select"
  >
    <q-list>
      <q-item
        v-for="(lang, i) in $i18n.availableLocales"
        :key="`Lang${i}`"
        v-close-popup
        :value="lang"
        clickable
        data-cy="locale-select-item"
        @click="language = lang"
      >
        <q-item-section>
          <q-item-label>{{ lang | truncate | capitalize() }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-btn-dropdown>
</template>
<script>

export default {
  name: 'LanguageSelector',
  filters: {
    truncate: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.substr(0, 2)
    },
    capitalize: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.toUpperCase()
    }
  },
  data: function () {
    return {
      language: this.$i18n.locale
    }
  },
  watch: {
    language (lang) {
      this.$root.$emit('locale_changed', lang)
      this.$root.$i18n.locale = lang
    }
  }
}
</script>
