// app global css
@font-face
  font-family rubik-regular
  src url(./font/Rubik/Rubik-Regular.ttf)
  font-display swap
@font-face
  font-family rubik-regular-italic
  src url(./font/Rubik/Rubik-RegularItalic.ttf)
  font-display swap
@font-face
  font-family rubik-bold
  src url(./font/Rubik/Rubik-Bold.ttf)
  font-display swap
@font-face
  font-family rubik-bold-italic
  src url(./font/Rubik/Rubik-BoldItalic.ttf)
  font-display swap
@font-face
  font-family rubik-black
  src url(./font/Rubik/Rubik-Black.ttf)
  font-display swap
@font-face
  font-family rubik-black-italic
  src url(./font/Rubik/Rubik-BlackItalic.ttf)
  font-display swap
@font-face
  font-family rubik-light
  src url(./font/Rubik/Rubik-Light.ttf)
  font-display swap
@font-face
  font-family rubik-light-italic
  src url(./font/Rubik/Rubik-LightItalic.ttf)
  font-display swap
@font-face
  font-family rubik-medium
  src url(./font/Rubik/Rubik-Medium.ttf)
  font-display swap
@font-face
  font-family rubik-medium-italic
  src url(./font/Rubik/Rubik-MediumItalic.ttf)
  font-display swap
@font-face
  font-family rubik-regular
  src url(./font/Rubik/Rubik-Regular.ttf)
  font-display swap
@font-face
  font-family rubik-regular-italic
  src url(./font/Rubik/Rubik-RegularItalic.ttf)
  font-display swap

.rubik-regular
  font-family 'rubik-regular'
.rubik-regular-italic
  font-family 'rubik-regular-italic'
.rubik-bold
  font-family 'rubik-bold'
.rubik-bold-italic
  font-family 'rubik-bold-italic'
.rubik-light
  font-family 'rubik-light'
.rubik-light-italic
  font-family 'rubik-light-italic'
.rubik-black
  font-family 'rubic-black'
.rubik-black-italic
  font-family 'rubic-black-italic'
.rubik-medium
  font-family 'rubik-medium'
.rubik-medium-italic
  font-family 'rubik-medium-italic'

h1, h2, h3, h4, h5, h6
  font-family 'rubik-light'
  margin-top 1rem
  margin-bottom 1rem
  margin-left 0px
  margin-right 0px
body
  font-family 'rubik-regular'

p
  font-family 'rubik-regular'
  color: $light-font-color;

.mat-shadowed-box
  -webkit-box-shadow: $shadow $shadow-color;
  -moz-box-shadow: $shadow $shadow-color;
  box-shadow: $shadow $shadow-color;
  padding-top $standard-padding
  padding-bottom $standard-padding
  margin-bottom $standard-margin;
  border-radius: $border-radius;

a
  color $primary
// uppy hackish overrides
// mainly first screen
.uppy-Root
  .uppy-DashboardTab-btn
    width auto !important
    margin-bottom 0 !important
    padding 0 !important
    border-radius 0 !important
  .uppy-DashboardTabs-list .uppy-DashboardTab:first-child button
    animation-name: rubberBand
    animation-duration .4s
    animation-delay 1s
  .uppy-DashboardTab
    margin-bottom 0
    margin-left 15px
    width auto !important
    border-bottom 0
  .uppy-DashboardTabs-list
    flex-direction row !important
    flex-wrap wrap
    justify-content center
    max-width 600px
    overflow-x initial
    margin-top 15px
    padding-top 0
  .uppy-Dashboard-dropFilesTitle
    font-size $body-font-size !important
    line-height $body-line-height !important
    color: $light-font-color !important

  .uppy-DashboardTabs
    flex-direction column-reverse !important

.uppy-DashboardTab .uppy-DashboardTab-btn
  background-color $light-blue
  border-radius 0
  padding 0
  width auto

  &:hover
    background-color darken($light-blue, 2.5%)

  svg
    display none

  &::before
    content ''
    background-repeat no-repeat
    background-position center center
    background-size 45px
    height 100px
    width 100px
    position relative
  &:not([aria-controls])::before
    background-image url(../assets/upload.svg)
  &[aria-controls="uppy-DashboardContent-panel--Webcam"]::before
    background-image url(../assets/camera.svg)
    background-size 40px

  @keyframes rubberBand {
      from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
  }

.uppy-DashboardTab-name
  display none

// upload screen
.uppy-Root
  .uppy-DashboardItem
    height auto !important
    &:last-child
      margin-bottom 0
      border-bottom 0
  &.uppy-size--md
  &.uppy-size-lg
    .uppy-DashboardItem
      height auto !important
      &:last-child
        margin-bottom 0
        border-bottom 0
    .uppy-DashboardContent-bar
      padding 0
    .uppy-DashboardItem-info
      display none
.uppy-DashboardItem
  height auto !important
&:last-child
  margin-bottom 0
  border-bottom 0

.uppy-Root .uppy-StatusBar:not([aria-hidden=true]).is-waiting
    // border-top 0
  .uppy-StatusBar .uppy-c-btn-primary
    background-color $primary !important
    color #fff !important

  .uppy-StatusBar-actions
    background-color transparent !important
    justify-content center
  .uppy-StatusBar::before
    background-color transparent !important

.uppy-StatusBar-actionBtn--upload
  width 100% !important

.download-btn
  background-color $primary !important
  color #fff !important
.standard-padding
  padding $standard-padding
